<div id="months-calendar">
	<h2><%= Date.today.year %></h2>
	<% russian_months.each_with_index do |month, index| %>
		<div class="square">
			<div class="inner">
			    <%= link_to month, domain_meetings_path(@domain, date: "01.#{index+1}.#{Date.today.year}"), class: "month" %>
			    <%= link_to "Судебные заседания", domain_meetings_path(@domain, date: "01.#{index+1}.#{Date.today.year}") %>
		    </div>
		</div>
	<% end %>
</div>

