$(function(){
    $('.modal-body').html('<%= escape_javascript(render :partial => 'form') %>');
    $('.modal-header').html('<h3>Добавить заседание</h3> <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>'); // don't need a header here
})

