<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;mm</button>
    <h3>Новое заседание</h3></div>
    <div class="modal-body center">
        <%= render 'form' %>
    </div>
<%= link_to link_to raw("<i class='icon-chevron-left'></i> Назад"), domain_meetings_path(@domain) %>
