$(function(){
    $('.modal-body').html('<%= escape_javascript(render :partial => 'show') %>');
    $('.modal-header').html('<h3>Заседание</h3> <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>'); // don't need a header here
    $('.modal-footer').hide();
})

