<h1>Редактировать заявку</h1>

<%= render 'form' %>

<%= link_to 'Показать', @request_meeting, class: "button edit" %> |
<%= link_to link_to raw("<i class='icon-chevron-left'></i> Назад"), request_meetings_path %>
