<h1>Редактировать заявку</h1>

<%= render 'form' %>

<%= link_to 'Показать', @request_meeting, class: "btn edit" %> |
<%= link_to 'Назад', request_meetings_path, class: "btn back entypo-left-open-big" %>
