<h1>Подать заявку на участие в заседании <%= @request_meeting.meeting.domain.name %></h1>

<%= render 'form' %>

<%= link_to link_to raw("<i class='icon-chevron-left'></i> Назад"), request_meetings_path %>
