<div id="show-request-meetings">

	<div class="lawyer">
	  <h4>Адвокат:</h4>
	  <p><%= @request_meeting.user %></p>
	</div>

	<div class="meeting">
	  <h4>Заседание:</h4>
	  <p><%= link_to @request_meeting.meeting, @request_meeting.meeting %></p>
	</div>

	<div class="status">
	  <h4>Статус:</h4>
	  <p><%= status @request_meeting.status %></p>
	</div>
</div>

<%= link_to link_to raw("<i class='icon-chevron-left'></i> Назад"), request_meetings_path %>
