<h1>Добавление адвоката в систему электронного календаря судебных заседаний:</h1>

<div>
    <%= render 'form' %>
</div>

<%= link_to link_to raw("<i class='icon-chevron-left'></i> К списку адвокатов"), users_path %>
