<h3>Адвокаты</h3>
<div class="blocks">

  <div class="row-fluid well-menu">

    <div class="square">
      <%= link_to raw("<i class='icon-user'></i> Базовый список адвокатов"), users_path %>
    </div>
    <div class="square">
      <%= link_to raw("<i class='icon-user'></i> Анализ занятости адвокатов"), statistics_users_path %>
    </div>
  </div>
          
</div>
<%= link_to link_to raw("<i class='icon-chevron-left'></i> Назад"), root_path, class: 'actions' %>
