<h3>Административная панель</h3>

<h4>Адвокаты</h4>
<div class="blocks">

  <div class="row-fluid well-menu">

    <div class="square">
      <%= link_to raw("<i class='icon-user'></i> Базовый список адвокатов"), base_index_users_path %>
    </div>
    <div class="square">
      <%= link_to raw("<i class='icon-user'></i> Анализ занятости адвокатов"), statistics_users_path %>
    </div>
    <div class="square last">
      <%= link_to raw("<i class='icon-user'></i> Заявки на доступ в систему"), users_path(request_for_access: true) %>
    </div>
  </div>
          
</div>
<%= link_to link_to raw("<i class='icon-chevron-left'></i> Назад"), root_path, class: 'actions' %>
