<div class="blocks">


          <div class="row-fluid well-menu">
      		  <div class="square">
                  <%= link_to raw("<i class='icon-user'></i> Управление полномочиями"), abilities_users_path %>                             
              </div>  
      		  <div class="square">
                  <%= link_to raw("<i class='icon-envelope'></i> Выслать пароли"), send_password_to_all_users_path, method: :post %>                            
              </div>  
          </div>

          
</div>