<div class="row">
  <div class="well span4"><%= link_to raw("<i class='icon-inbox'></i> Ведомства и  учреждения"), domains_path %></div>
  <div class="well span4"><%= link_to raw("<i class='icon-user'></i> Адвокаты"), users_path %></div>
</div>
<div class="row">
  <div class="well span4"><%= link_to raw("<i class='icon-question-sign'></i> Заявки на заседания"), request_meetings_path %></div>
</div>
