<div class="blocks">

  <div class="row-fluid well-menu">
    <div class="square">
      <%= link_to raw("<i class='icon-inbox'></i> Базовый список учреждений"), admin_index_domains_path %>                            
    </div>  

    <div class="square">
      <%= link_to raw("<i class='icon-envelope'></i> Отправка сообщений и уведомлений"), new_inform_mail_path %>
    </div>
    
    <div class="square last">
      <%= link_to raw("<i class='icon-user'></i> Базовый список адвокатов"), users_path %>
    </div>
  </div>
          
</div>