<div class="row">
	<div class="span8 offset2">
		<div class="row-fluid well-menu">
			<div class="square span4"><%= link_to raw("<i class='icon-inbox'></i> Ведомства и  учреждения"), domains_path %></div>
			  <% if current_user.try :admin? %>
			  <div class="square span4"><%= link_to raw("<i class='icon-user'></i> Адвокаты"), users_path %></div>
			  <% end %>
			  <div class="square span4"><%= link_to raw("<i class='icon-question-sign'></i> Заявки на заседания"), request_meetings_path %></div>
		</div>
	</div>
</div>