<h3>Административная панель</h3>
<div class="blocks">

  <div class="row-fluid well-menu">
    <div class="square">
      <%= link_to raw("<i class='icon-inbox'></i> Базовый список учреждений"), admin_index_domains_path %>                            
    </div>  


    
    <div class="square">
      <%= link_to raw("<i class='icon-user'></i> Адвокаты"), overview_users_path %>
    </div>
  </div>
          
</div>
<%= link_to link_to raw("<i class='icon-chevron-left'></i> Назад"), root_path, class: 'actions' %>
