<h3>Административная панель</h3>
<h4>Параметры системы</h4>

<table class="table table-bordered">
    <% @variables.each do |var| %>
        <tr>
            <td><%= var.name %></td>
            <td><%= best_in_place var, :value %></td>
        </tr>
    <% end %>   
</table>
