<h1>Ведомcтва и учреждения</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Наименование</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<% @domains.each do |domain| %>
  <tr>
    <td><%= link_to domain.name, domain %></td>
    <% if current_user.admin? %>
      <td><%= link_to 'Редактировать', edit_domain_path(domain) %></td>
      <td><%= link_to 'Удалить', domain, method: :delete, data: { confirm: 'Подтвердите удаление' } %></td>
    <% end %>
  </tr>
<% end %>
</tbody>
</table>

<br />

<% if can? :manage, :all %>
  <%= link_to 'Добавить', new_domain_path, class: "btn" %>
<% end %>
