// Meetings styles

@import "../scss/mixins";
@import "../scss/variables";

//=== CALENDAR
#meetings {
  margin-bottom: 1em;

  .calendar {
    border-collapse: collapse;
    width: 850px;
    margin: 0 auto;
    border: 1px solid $blue;
    
    // table header
    th {
      background: lighten($blue, 0%);
      color: #FFF;
      font-weight: 300;
      padding: 3px;
      text-align: center;
      width: 14.2857142857143%;
      border-right: 1px solid #fff;
      &:last-of-type {
        border-right-color: $blue;
      }
    }

    // table body
    tr {
      // border-bottom: 2px solid $blue;
      td {
        position: relative;
        z-index: -1;
        border: 2px solid $blue;
      }
    }

    td {
      position: relative;
      background: #FFF;
      color: #777;
      padding: 0;
      height: 70px;
      font-size: 16px;
      &.weekend {
        .day {
          color: $red;
        }
      }
    }

    .notmonth,
    .notmonth a,
    .notmonth .day,
    .notmonth.weekend .day { color: #CCC; }
    .notmonth .date-cell a {
      border-top: 1px solid #ccc;
    }
    //.today { background-color: #d9ffd8; }
  }

  h3 {
    margin-left: 40px;
  }

  #month {
    margin: 0;
    padding-bottom: 10px;
    text-align: center;
    font-size: 18px;
    a {
      text-decoration: none;
      padding: 0;
      // color: #999;
    }
    .month-name {
      text-transform: uppercase;
    }
    .prev-month {
      float: left;
      padding-left: 40px;
    }
    .next-month {
      float: right;
      padding-right: 40px;
    }
  }
  
  .date-cell {
    position: relative;
    // .meeting-link {
    //   position: absolute;
    //   top: 0;
    //   padding-top: 55px;
    //   width: 100%;
    //   z-index: 1000;
    // }
    .day {
      font-size: 2.5em;
      text-align: center;
      line-height: 1;
      margin: 3px 0 3px 0;
      padding: 10px 0;
      color: $blue;
      font-weight: 700;
      border-bottom: 1px solid $blue;
    }
    a {
      display: block;
      // border-top: 1px solid $blue;
      line-height: 1;
      font-size: .7em;
      text-align: center;
      padding-bottom: 3px;
      &:hover {
        text-decoration: none;
      }
      &.add-meeting {
        line-height: 2;
      }
    }
    &.avaible {
      background-color: $blue;
      border: 1px solid #fff;
      
      a {
        color: #fff;
        .day {
          color: #fff;
          border-color: #fff;
        }
      }
      a {
        // border-top: 0px solid #fff;
      }
    }
    &.not_avaible {
      background-color: red;
      a {
        color: #fff;
        .day {
          border-color: #fff;
        }
      }
    }
  }
  
}

.add-meeting-any-date {
  text-decoration: none;
}

//=== NEW MEETING
#new_meeting {
  select {
    width: 70px;
    height: 35px;
    color: $blue;
    border: 1px solid #184491;
  }
}
input[readonly] {
  background-color: #fff;
  height: 35px;
}





//=== SHOW MEETING
#show-meeting {
  .lawyer {
    strong {
      display: inline-block;
      width: 150px;
    }
  }
}

//=== MONTHS CALENDAR
#months-calendar {
  h2 {
    text-align: center;
    font-size: 2.2em;
  }
  .square {
    @include span-columns(3, 12);
    &:nth-child(4n),
    &.fourth { @include omega; }
    border: 0 none;
    .month {
      font-size: 1.4em;
      height: 100px;
      display: block;
      text-align: center;
      line-height: 100px;
      border: 2px solid $blue;
      overflow: hidden;
      // @include hide-text;
      // background: image-url("month-icons.png") no-repeat -1px 0px;
      // &.yanvar {
      //   background-position: -1px 0px;
      // }
      // &.fevral {
      //   background-position: -251px 0px;
      // }
      // &.mart {
      //   background-position: -503px 0px;
      // }
      // &.aprel {
      //   background-position: -751px 0px;
      // }
      // &.may {
      //   background-position: -1px -121px;
      // }
      // &.iyun {
      //   background-position: -251px -121px;
      // }
      // &.iyul {
      //   background-position: -503px -121px;
      // }
      // &.avgust {
      //   background-position: -751px -121px;
      // }
      // &.sentyabr {
      //   background-position: -1px -243px;
      // }
      // &.oktyabr {
      //   background-position: -251px -243px;
      // }
      // &.noyabr {
      //   background-position: -503px -243px;
      // }
      // &.dekabr {
      //   background-position: -751px -243px;
      // }
    }
    .current-moth {
      color: $red;
    }
  }
  .years {
    clear: both;
    // text-align: center;
    overflow: hidden;
    margin: 0 0 1em 0;
    li {
      display: inline;
      a {
        font-size: .9em;
        font-weight: 700;
      }
    }
  }
}




