<p>Здравствуйте, <%= @resource.fio %>!</p>

<p>Адвокатская палата Санкт-Петерубрга уведомляет Вас о регистрации на календаре заседаний</p>
<p>Перейдите по ссылке, для входа в систему</p>
<p><%= link_to 'Вход в систему', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
