<p>Здравствуйте, <%= @resource.fio %>!</p>

<p>Адвокатская палата Санкт-Петербурга уведомляет Вас о регистрации на календаре судебных заседаний</p>
<p>Перейдите по ссылке, для входа в систему</p>
<p><%= link_to 'Войти в систему', accept_invitation_url(@resource, :invitation_token => @resource.invitation_token) %></p>
