<p>Здравствуйте, <%= @resource.email %>!</p>

<p>Для смены пароля, перейдите по ссылке, указанной ниже</p>

<p><%= link_to 'Сменить пароль', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

