<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
    	<div class="logo"><a href="/">&nbsp;</a></div>
    	<h2 class="site-name">Адвокатская палата Санкт-Петербурга</h2>
    	<%= render_navigation :expand_all => true, :renderer => :bootstrap %>
    </div>
  </div>
</div>
